<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #a1{
        background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

        width:500px;
        height:300px;
        margin-top:60px;
        margin-left:70px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br><br>
<div id="a1">
<form method="post">{% csrf_token %}
    <table>
        <tr>
            <td width="170pxpx" height="50px">Full Name</td>
            <td width="270px"><input type="text" name="fullname" placeholder="Enter Full name"></td>
        </tr>
        <br><br><br><br>
        <tr>
            <td width="170pxpx" height="50px">State</td>
            <td><select name="state">
                <option></option>
                <option value="kerala">Kerala</option>
                <option value="tamil nadu">Tamil Nadu</option>
                <option value="karnataka">Karnataka</option>
            </select></td>
        </tr>
        <tr>
            <td width="170pxpx" height="50px">Language</td>
            <td>
                <input type="checkbox" name="malayalam" >Malayalam
<input type="checkbox"  name="english" >English
<input type="checkbox"  name="hindi" >Hindi
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" Value="SUBMIT"></td>
        </tr>
    </table>
</form>
    </div>

</body>
</html>